
#topslide{
    font-family: 'Courier New', Courier, monospace;
text-align: center;    background-color: bisque;
}
#fixed{
    position: fixed;
    bottom: 80px;
    right: -150px;
    width: 300px;
}
/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }
  
  li {
    float: left;
  }
  
 
   */

   li a:hover{
    color: rgb(214,51,132);

  }
  #search{
    background-color:  rgb(46,46,46);
  }

#whatsapp{
    position: fixed;
    width: 40px;
}
/* #facebook,#instagram{
    wi
} */
#facebook,#instagram:hover{
    color: darkorchid;
    
}
#heart{
    color: rgb(218,146,54);
}
#cart{
    color: rgb(218,146,54);
}
.main{
    position: relative;
}
.topleft{
    position: absolute;
    top: 118px;
    left: 16px;
}
#women{
    width: 100%;
    height: auto;
}
.topleft{
    margin-left: 120px;
}

/* @media screen and (max-width:1043px) {
   .brand {
        margin-left: 10%;

    }
    
} */
 #btn1{
     background-color:  rgb(240,240,240);
     color: rgb(164,164,164);
     width: 150px;
     height: 50px;
 }
 #btn2{
    background-color:  rgb(240,240,240);
    color: rgb(164,164,164);
    width: 220px;
    height: 50px;
}
 .btn3{
 
    text-decoration: none;
    color: rgb(164,164,164);
    border: 1px solid black;
    padding: 15px 20px;
    text-align: center;
 }
.btn3:hover{
    background-color:  rgb(240,240,240);
    color: rgb(164,164,164);

}

figcaption{
    color:rgb(164,164,164) ;
}
 

#btn4{
    border: 1px solid gray;
    padding: 5px 20px;
    margin-bottom: 20px;
}
#btn4:hover{
    background-color:  rgb(240,240,240);
    color: rgb(164,164,164);
}

.btn5{
    text-decoration: none;
    color:rgb(164,164,164) ;
    border: 1px solid gray;
    padding: 10px 20px;
}
.btn5:hover{
    background-color:  rgb(240,240,240);
    color: rgb(164,164,164);
}


#text{
    text-decoration: none;
    color:  rgb(164,164,164);
}

